<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>What up</title>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <% include partials/nav.ejs %>
    <h1>Contact Us!</h1>
    <h2>Thanks for getting in touch!</h2>
    <p>Name: <%= data.who %></p>
    <p>Dept: <%= data.department %></p>
    <p>Email: <%= data.email %> </p>
    <h2>Don't bother us again!</h2>
  </body>
</html>
