<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script
		  src="https://code.jquery.com/jquery-3.3.1.min.js"
		  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		  crossorigin="anonymous">
    </script>
    <script src="/assets/todo-list.js"></script>
    <link href='/assets/styles.css' rel="stylesheet" type="text/css">
    <title>To-Do List</title>
  </head>
  <body>
    <div id="todo-table">
      <form>
        <input type="text" name="item" placeholder="Add new item to list" required />
        <button type="submit" name="submit">Submit Item</button>
      </form>
      <ul>
        <% for (let i = 0; i < todos.length; i++) { %>
          <li><%= todos[i].item %></li>
        <% } %>
      </ul>
    </div>
  </body>
</html>
